extends layout

block contenido
    .contenido-principal
        h2 ¿Cómo funciona?
        
            .contenido-principal
                h3 1.Crea un nuevo proyecto
                .span
                h3 2 Añáde tareas
                .span
                h3 3. Edita, actualiza, completa o elimina las tareas
                .span
                h3 4. ¡Finaliza tu proyecto!


    